html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: url("../img/Bokeh01.jpg");
	background-size: cover;
	background-attachment: fixed;
}
img {
	max-width: 100%;
	display: block;
}
.asphalt {
	min-height: 1.25rem;
	width: 100%;
	background-image: url("../img/asfalt.png"); 
}
.border {
	clear: both;
	display: block;
	width: 100%;
	height: 5px;
	background-image: $gold-gradient;
	box-shadow: $shadow;
}
//header styles
header {
	width: 100%;
	position: relative;
	z-index: 10;
	/* Rectangle 10: */
	background-image: $black-gradient;
	box-shadow: $shadow;

	.header_wrapper {

		@include desktop {
			width: 75%;
			margin: auto;
		}
	}
	h1 {
		//H1 in header is hidden using visuallyhidden class
		//still readable for screenreaders
	}


	.logo {
		display: inline-block;
		height: 50px;
		margin: 1rem 2rem 1rem 1rem;

		@include desktop {
		width: auto;
		height: 50px;
		margin: .5rem 0 0 0;
		float: left;
		}

		@include wide {
			margin-left: 4rem;
		}
	}

	.menu_toggle {
		display: block;
		float: right;
		background-image: $black-gradient;
		color: $gold;
		padding: .75rem 1rem;
		margin: 1rem;
		text-align: center;
		font-size: .9rem;
		font-weight: 600;
		border-radius: 3px;
		box-shadow: $shadow;

		&::after {
			content: " +";
		}

		&.expanded::after {
			content: " –";
		}

		@include desktop {
			display: none;
		}
	}

	.nav_wrapper {
		display: none;
		text-align: left;

		@include desktop {
			display: block !important; 
			text-align: left;
			padding: 0;
			float: right;
		}

		@include wide {
			padding-right: 4rem;
		}

	}

	ol {
		position: static;
		padding: 0;
		margin: 0;

		@include desktop {
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
		}
		li {
			line-height: 1rem;
			padding: 0;

			@include desktop {
				display: block;
				line-height: 4rem;
				padding: 0;
				position: relative;
				float: left;
			}


			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 1rem;

				@include desktop {
					padding: 0rem 1rem;
				}
				
			}
		}

		a:hover, a:active {
			background-image: $gray-gradient;
		}


		ol {

			@include desktop {
				display: none;
				position: absolute;
				z-index: 2;
				top: 100%;
				left: 0%;
				/* padding: 1rem; */
				background-color: #1D1C1C;
				box-shadow: $shadow;
			}

			li {
				color: $gold;
				min-width: 200px;
				line-height: 1.4rem;

				a {
					padding: 1rem 3rem;

					@include desktop {
						padding: 1rem;
					}
				}
			}
		}

	}


	ol li:hover > ol {
		display: block;
		z-index: 2;
	}




}

// main styles

main {

	background-color: $white;
	margin-top: 0;
	font-size: 1.1rem;
	box-shadow: $shadow;

	@include desktop {
		width: 75%;
		margin: auto;
	}

	.cta {
		background-image: $black-gradient;
		color: $gold;
		padding: .75rem 1rem;
		width: 50%;
		display: block;
		margin: 2rem auto 0rem auto;
		text-align: center;
		font-weight: 600;
		border-radius: 3px;
		box-shadow: $shadow;
	}
	.leader {
		padding-bottom: 2rem;

		h1 {
			margin-top: 0;
			background-image: url("../img/wood_floor.jpg");
			background-size: cover;
			font-size: 3rem;
			line-height: 3rem;
			padding: 4rem 1rem 1rem 1rem;
			font-weight: 300;
			text-align: right;
			color: $white;
		}



		p {
			padding: 0 1rem;
			line-height: 1.4rem;

			@include desktop {
				padding: 0rem 3rem;
			}
		}
	}

	.concert_listing {

		h2 {
			font-size: 2rem;
			line-height: 1;
		}
		.content_wrapper {
			padding: 0 1rem;
			margin-bottom: 3rem;

			@include desktop {
				padding: 1rem 3rem;
				margin-bottom: 2rem;
			}
		}

		.place {
			text-align: center;

			@include desktop {
				font-size: 1.25rem;
			}
		}
	}

	.ad {
		h2 {
			padding: 0 1rem;
		}
	}
}

// footer styles


footer { 
	font-size: .8rem;
	background-image: $black-gradient;
	p {
		color: $gold;
		display: inline-block;
		padding-left: 1rem;

	}
	a {
	float: right;
	display: inline-block;
	text-align: right;
	padding: 1rem;
	color: $gold;
	text-decoration: none;
}
}