body {
	font-family: $font-stack;
	color: $black;
	background-color: $white;
}

ol, ul {
	list-style: none;
}

header {
	color: $gold;
}

main {
	h1 {
		color: $gold;
	}
}

.bold {
	font-weight: 700;
}

.break {
	display: block;
}

.feature {
	font-weight: 600;
}

i {
	font-size: 2rem!important;
}