body {
	font-family: $font-stack;
	color: $black;
	background-color: $white;
}

ol, ul {
	list-style: none;
}

header {
	color: $gold;
}

main {
	h1 {
		color: $gold;
		background-color: $white;
	}
}

.bold {
	font-weight: 700;
}

.break {
	display: block;
}

a {
	text-decoration: none;	
}

.info_link:link, .info_link:visited {
	color: $gold;
	font-weight: 700;
}