//media query widths
$tablet-width: 600px;
$desktop-width: 900px;
$wide-width: 1200px;

//typography
$font-stack: 'Raleway', sans-serif;

//colors
$gold: #B2B248;
$black: #131313;
$white: #fbfbfb;
$gold-gradient: linear-gradient(-180deg, #b2b248 0%, #9D8142 100%);
$shadow: 0px 2px 2px 0px rgba(0,0,0,0.50);